body {
    padding: 0;
    margin: 0;
}

.nav{
    background: pink;
    text-align: center;
}

.nav a{
    text-decoration: none;
    color:blueviolet;
    counter-reset: blue;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    border-bottom: 5px solid hotpink;
}

.nav a:hover{
    background: lightpink;
}
